*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container {
  width: 1000px;
}

.right-menu {
  background-color: whitesmoke;
  padding: 15px;
  width: 40%;
  margin-top: 10px;
  height: 400px;
  line-height: 60px;
}
.left-menu {
  background-color: whitesmoke;
  width: 58%;
  display: flex;
  margin-top: 10px;
  margin-left: -1px;
  padding: 5px;
  flex-direction: column;
}

.left-menu .tabs {
  display: flex;
  justify-content: space-around;
}

.left-menu .tab {
  border: 1px solid black;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
}
.left-menu .tab-content {
margin-top: 20px;
margin: 5px;
padding: 5px;
}


.right-menu .content {
  margin-top: 10px;
}

.btn1 {
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  width: 120px;
  font-size: 20px;
  margin-top: 25%;
}
.btn2{
  background-color: whitesmoke;
  border: 0px;
  font-size: 20px;
}
.btn3{
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: 0px;
  padding: 5px;
  width: 60px;
  font-size: 16px;
}