*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel{
  /* vw 는 브라우저의 크기 라고 생각하면 되고  기본이 100이다.*/
  width: 300vw;
  display: flex;

  transition: all 1s;
}

.slide > img{
  width: 800px;
  height: 300px;
}

.wrapper {
  width: 800px;
  overflow: hidden;
  margin: auto;
}